Load data directly from the Census Reporter API, but use the columns titles for names, rather than the column id numbers.

In [ ]:
import requests # !pip install requests
import pandas as pd
# Get the Age by sex table, and a lot of metadata, directly from the Census Reporter API
# for all tracts in California
data = requests.get("http://api.censusreporter.org/1.0/data/show/latest"
                    "?table_ids=B01001&geo_ids=140|16000US0666000").json()

In [59]:
from operator import itemgetter

# It looks like the JSON dicts may be propertly sorted, but I'm not sure I can rely on that
# so, sort the column id values, then make a columns title list in the same order
columns = data['tables']['B01001']['columns']
columns_id_names = sorted(columns.keys() )
column_titles = [ columns[e]['name'] for e in columns_id_names]

# The item getter will produce a tuple from a dict, getting all of the 
# dict items in the order of the keys named in the argument list. In this case, 
# it turns the dict into a tuple of estimate values
row_ig = itemgetter(*columns_id_names)

tracts = data['data'].keys()

# Actually get the row data. 
rows = [ row_ig(data['data'][tract]['B01001']['estimate']) for tract in tracts ]

# Now, creating the dataframe is really easy. 
df = pd.DataFrame(rows, columns=columns)
df.head()

,B01001030,B01001031,B01001018,B01001019,B01001034,B01001035,B01001036,B01001037,B01001012,B01001013,...,B01001004,B01001021,B01001006,B01001039,B01001032,B01001045,B01001049,B01001048,B01001044,B01001020
0,4530.0,2225.0,103.0,185.0,140.0,47.0,48.0,51.0,58.0,129.0,...,131.0,73.0,74.0,19.0,7.0,17.0,22.0,6.0,35.0,21.0
1,5429.0,2627.0,273.0,189.0,171.0,89.0,109.0,61.0,198.0,207.0,...,243.0,169.0,28.0,19.0,34.0,115.0,82.0,28.0,75.0,18.0
2,3580.0,1750.0,194.0,70.0,95.0,59.0,28.0,8.0,0.0,62.0,...,180.0,151.0,82.0,17.0,23.0,55.0,77.0,72.0,111.0,79.0
3,4099.0,2133.0,165.0,71.0,37.0,72.0,17.0,13.0,0.0,118.0,...,102.0,59.0,19.0,50.0,60.0,76.0,33.0,0.0,17.0,61.0
4,6064.0,3146.0,138.0,97.0,80.0,45.0,0.0,8.0,38.0,321.0,...,85.0,132.0,79.0,48.0,42.0,50.0,41.0,42.0,26.0,17.0